name: terraform-ci

on:
  pull_request:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend)
        run: terraform init -backend=false
        working-directory: ./src # On lance l'init là où est ton main principal

      - name: Terraform validate
        run: terraform validate
        working-directory: ./src

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4 # Version plus stable
        with:
          tflint_version: latest

      - name: TFLint init
        run: tflint --init

      - name: TFLint run
        run: tflint -r # -r pour récursif, scanne les modules

      # REMPLACEMENT DE TFSEC PAR CHECKOV
      - name: Checkov Security Scan
        uses: bridgecrewio/checkov-action@master
        with:
          directory: . # Scanne tout le projet (src et modules)
          framework: terraform
          soft_fail: true # Permet de voir les erreurs sans bloquer la suite